language: go

go_import_path: ronoaldo.gopkg.net/aetools

install:
  - go get -v -t -d google.golang.org/appengine/...
  - go get -v -t -d ronoaldo.gopkg.net/aetools/...
  - mkdir ~/sdk
  - curl -o ~/sdk.zip "https://storage.googleapis.com/appengine-sdks/featured/go_appengine_sdk_linux_amd64-1.9.24.zip"
  - unzip -q ~/sdk.zip -d ~/sdk
  - export PATH=$PATH:~/sdk/go_appengine/

go:
  - 1.5
  - 1.6
  - tip